.nav {
  padding: 10px 40px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: bold;
  list-style: none;

  &__link {
    text-decoration: none;
    color: rgb(61, 61, 61);

    &:hover {
      color: #f4796c;
      transition: 0.4s;
    }
  }
}
